<!DOCTYPE html>

<html>
<head>
       <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>


        @RenderBody()
          <footer>
      <p>&copy; 2023 Search Page</p>
    </footer>
    
</body>
</html>
