@page
@model invoices_system.Pages.SettingsModel
@{
	Layout = "_AddNewWorker_Layout";

}
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Add New  Worker</h3>
			</div>

			<div class="title_right">
				<div class="col-md-5 col-sm-5  form-group pull-right top_search">
					<div class="input-group">
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">

						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a>
									<a class="dropdown-item" href="#">Settings 2</a>
								</div>
							</li>
							<li>
								<a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<form class="form-label-left input_mask">

							<div class="col-md-6 col-sm-6  form-group has-feedback">
								<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder=" Name">
								<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
							</div>

							<div class="col-md-6 col-sm-6  form-group has-feedback">
								<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="User Name">
								<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
							</div>

							<div class="col-md-6 col-sm-6  form-group has-feedback">
								<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Role">
								<span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
							</div>

							<div class="form-group row">
								<label class="control-label col-md-3 col-sm-3 ">Password</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="password" class="form-control" placeholder="Password">
								</div>
							</div>




						</form>
						<th>
							<button type="button" class="btn btn-primary"> Add</button>
						</th>

					</div>
				</div>

			</div>
		</div>
