@page
@model invoices_system.Pages.EditWorkerDataModel
@{
    Layout = "_EditWorkerData_Layout2";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
          

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="title_left">
                            <h3>Edit Worker</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-label-left input_mask">

                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder=" Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left"  placeholder="User Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 form-group has-feedback">
                                <label class="form-control has-feedback-left col-md-1 col-sm-1 ">Role</label>
                                <select class="col-md-11 col-sm-11 form-control "  name="cars" id="cars">
                                    <optgroup label="Site Roles">

                                    <option value="SiteEng">Site Engineer</option>
                                    <option value="SiteAccountant">Site Accountant</option>
                                    <option value="SitManager">Sit Manager</option>
                                    </optgroup>

                                </select>
                            </div>

                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                <input type="password" class="form-control has-feedback-left" id="password" placeholder="Password">
                                <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <style>
                                .btn-float-right
                                {
                                    float: right;
                                    width: 250px;
                                    border: none;
                                    color: white;
                                    padding: 15px 32px;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    font-size: 16px;
                                    margin: 4px 2px;
                                    cursor: pointer;
                                }
                            </style>

                            <button type="button" class=" btn-float-right btn btn-primary"> <i class="fa fa-pencil" ></i>Edit</button>



                        </form>
                        
                        

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>