@page
@model invoices_system.Pages.MainProjectAdminModel
@{
    Layout = "_MainProjectAdmin_Layout2";
}


    <main>
        <div class="search-box-container">
            <input type="text" placeholder="Search">
            <button type="submit"><img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" alt="Search"></button>
        </div>
          
      <div class="recent-searches">
        <h2>Recent Searches</h2>
        <div class="search-boxes">
          <div class="search-box-item">
            <p>Search Query 1</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
          
          <div class="search-box-item">
            <p>Search Query 2</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
          <div class="search-box-item">
            <p>Search Query 3</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
          <div class="search-box-item">
            <p>Search Query 4</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
          <div class="search-box-item">
            <p>Search Query 5</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
          <div class="search-box-item">
            <p>Search Query 6</p>
            <button class="icon-button delete-button">
              <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="Delete">
            </button>
          </div>
        </div>
      </div>
    </main>
  
