@page
@model invoices_system.Pages.ProjectDataAdminModel
@{
    Layout = "_ProjectDataAdmin_Layout2";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>
        <div class="row">


            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Project Data </h2>
                        <div class="clearfix"></div>
                    </div>

                    <table class="table table-borderless table-primary">

                                        <tbody>

                                            <tr>
                                                   <td>Project Name</td>
                                                <th> ####</th>
                                                <td>Project ID : </td>
                                                <th> ####</th>
                                                <td>Project Start Date: </td>
                                                <th>####</th>
                                             
                                                <td>Project Site :  </td>
                                                <th>####</th>
                                                
                                            </tr>
                                            
                                            <tr>
                                                   <td>Site Manager</td>
                                                <th> ####</th>
                                                <td>Site Engineer : </td>
                                                <th> ####</th>
                                                <td>Site Accountant: </td>
                                                <th>####</th>
                                             
                                                
                                                
                                            </tr>
</tbody>
                    </table>
                </div>
            </div>
        </div>

                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice Type</th>
                    <th>Creation Date</th>
                    <th>State</th>
                    <th>Contractor Name</th>
                    <th>
                        Disbursement Date
                    </th>
                    <th></th>
              

                </tr>
            </thead>


            <tbody>
                <tr>
                    <th>SP01</th>
                    <th>2011/04/25</th>
                    <th>Loading</th>
                    <th>Tiger Nixon</th>
                    <th></th>
                  <th>
                        <button type="button" class="btn btn-primary">Show</button>            
                       <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <button type="submit" class="btn btn-success">Approve</button>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Stop </a>

                    </th>
                </tr>
                <tr>
                    <th>SP02</th>
                    <th>2011/07/25</th>
                    <th>Done</th>
                    <th>Garrett Winters</th>
                    <th></th>
                       <th>
                        <button type="button" class="btn btn-primary">Show</button>            
                       <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <button type="submit" class="btn btn-success">Approve</button>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Stop </a>

                    </th>
                </tr>
                <tr>
                    <th>QR01</th>
                    <th>2009/01/12</th>
                    <th>Stoped</th>
                    <th>Ashton Cox</th>
                    <th></th>
                    <th>
                        <button type="button" class="btn btn-primary">Show</button>            
                       <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <button type="submit" class="btn btn-success">Approve</button>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Stop </a>

                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<!-- /page content -->
