@page
@model invoices_system.Pages.ProjectManagerMainModel
@{
    Layout = "_ProjectManagerMain_Layout2";
}

@*<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    </div>
</main>
*@
<body style="background-image: url(../images/PM.jpg); background-size:cover; ">
    <div class="main">

        <!-- Actual search box -->
  @*      <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
*@
        <!-- Another variation with a button -->
        <div class="main">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this blog">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="table-wrapper  table table-borderless table-primary">
                <table>
                    <tbody>

                            <tr>
                                <th>Project Name</th>
                                <td> ####</td>
                                                            </tr>
<tr >       <th>Project ID : </th>
                                <td> ####</td> </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>
                             



                          
                    </tbody>
                </table>

                <table>
                    <tbody>

                        <tr>
                            <th>Project Name</th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project ID : </th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>





                    </tbody>
                </table>
                <table>
                    <tbody>

                        <tr>
                            <th>Project Name</th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project ID : </th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>





                    </tbody>
                </table>
            </div>
                        <div class="table-wrapper  table table-borderless table-primary">
                <table>
                    <tbody>

                            <tr>
                                <th>Project Name</th>
                                <td> ####</td>
                                                            </tr>
<tr >       <th>Project ID : </th>
                                <td> ####</td> </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>
                             



                          
                    </tbody>
                </table>

                <table>
                    <tbody>

                        <tr>
                            <th>Project Name</th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project ID : </th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>





                    </tbody>
                </table>
                <table>
                    <tbody>

                        <tr>
                            <th>Project Name</th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project ID : </th>
                            <td> ####</td>
                        </tr>
                        <tr>
                            <th>Project Location: </th>
                            <td>####</td>
                        </tr>





                    </tbody>
                </table>

            </div>

        </div>






</body>
